<!DOCTYPE html>
<html>
  <head>
    <title>Pin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <h1> <%= link_to "le titre de smon site", root_path  %> </h1>


    <nav>

      <%= link_to "shop", products_path %>
      <%= link_to "about", info_path %>
      <%= link_to cart_path do %>
        cart (<%= @current_cart.total_quantity %>)
      <% end %>

    </nav>


    <% if flash[:success].present? %>
      <div class="flash">
          <%= flash[:success] %>
        </div>
    <% end %>



    <%= yield %>


  </body>
</html>
